/* CSS Document */

/*wacky front page layouts*/
.views-row {"margin-bottom":15px;padding:20px 20px 5px 20px}
.views-row-1 {background-color:#ebebeb;}
.views-row-2 {background-color:#ebebeb;}
.views-row-3 {background-color:#ebebeb;}

.content p {margin:0;padding:0;}