ul#superfish-1 {
	list-style:none;
	margin:0;
	padding:0;
	z-index:0;
}
ul#superfish-1 li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
#superfish-1 a {
	display:block;
	margin:0;
	padding:10px;
	font-weight:bold;
	color:#333333;
	line-height:20px;
	text-decoration:none;
}
ul#superfish-1 li:hover a {
	background:#40658f;
	color:#ffffff;
}
ul#superfish-1 li ul {
	position:absolute;
	top:40px;
	left:0;
}
ul#superfish-1 li ul li {
	margin:0;
	padding:0;
}
ul#superfish-1 li:hover ul a {
	width:180px;
	margin:0;
	padding:5px 10px 5px 10px;
	background:#40658f;
	font-size:.9em;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}
ul#superfish-1 li:hover ul li:hover,
ul#superfish-1 li:hover ul a:hover {
	background:#6189b7;
	color:#ffffff;
}
ul#superfish-1 ul {
	display:none;
}
ul#superfish-1 li:hover ul {
	display:block;
	z-index:200;
}


ul.rightmenu {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	z-index:0;
}
ul.rightmenu li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
ul.rightmenu li a {
	display:block;
	margin:0;
	padding:10px;
	font-weight:bold;
	color:#333333;
	line-height:20px;
	text-decoration:none;
}
ul.rightmenu li:hover a {
	background:#40658f;
	color:#ffffff;
}
ul.rightmenu li ul {
	position:absolute;
	top:40px;
	left:0;
}
ul.rightmenu li ul li {
	margin:0;
	padding:0;
}
ul.rightmenu li:hover ul a {
	width:180px;
	margin:0;
	padding:5px 10px 5px 10px;
	background:#40658f;
	font-size:.9em;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}
ul.rightmenu li:hover ul li:hover,
ul.rightmenu li:hover ul a:hover {
	background:#6189b7;
	color:#ffffff;
}
ul.rightmenu ul {
	display:none;
}
ul.rightmenu li:hover ul {
	display:block;
	z-index:200;
}