
body {
	margin:10px;
	font-size:.8em;
	font-family:Arial,Helvetica,sans-serif;
}

@font-face {
	font-family:'Antonio';
	font-style:normal;
	font-weight:normal;
	src:url(/webfonts/antonio-regular-webfont.eot);
	src:url(/webfonts/antonio-regular-webfont.eot?) format('eot'),url(/webfonts/antonio-regular-webfont.woff) format('woff');
}
@font-face {
	font-family:'Antonio Light';
	font-style:normal;
	font-weight:normal;
	src:url(/webfonts/antonio-light-webfont.eot);
	src:url(/webfonts/antonio-light-webfont.eot?) format('eot'),url(/webfonts/antonio-light-webfont.woff) format('woff');
}

a img {

	border:0;
	outline:none;

}

h1 {

	margin:5px 0 .25em 0;

	font-size:2em;
	font-family:Antonio,'Arial Narrow',Arial;
	font-weight:normal;
	color:#00274c;
	/*text-transform:uppercase;*/
	letter-spacing:-.025em;
	line-height:1.2em;
}

h2 {

/*	font-size:1.5em;

	color:#40658f;

	line-height:normal;*/
	margin:.75em 0 .5em 0;
	font-size:1.75em;
	font-family:Antonio,'Arial Narrow',Arial;
	font-weight:normal;
	color:#40658f;
	/*text-transform:uppercase;*/
	letter-spacing:-.025em;
	line-height:1.2em;
}

h3 {

	font-size:1.25em;

	color:#555555;

	line-height:normal;

}

h4 {

	font-size:1em;

	color:#003366;

	line-height:normal;

}

h2, h3, h4 {

	margin:1em 0 1em 0;

}



a:link {

	color:#0000ff;

}

a:visited {

	color:#9933cc;

}

a:hover {

	color:#cc3300;

}

a:active {

	color:#cc6600;

}

ul {

	list-style-type:square;

}
ul ul {
	list-style-type:disc;

}


.nobr, .nowrap {

	white-space:nowrap;	

}
.clear {
	clear:both;
}



/* PRINT STYLE */



@media print {



body {

	background:#ffffff;

}

#subBanner, #searchFind, #serviceCatalog, .clLevelHome, .clLevel0, .clLevel01,
#homeImage, #tagLine, #pageTop, #breadCrumb, 
#leftNav, #siteNav {

	display:none;

}

#homeContent, #pageContent {

	margin:0;

	padding:0 10% 10px 10px;

	line-height:135%;

}

h1 {

	margin:15px auto 10px auto;

}
}


