/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

#navigation .block /* Block wrapper */ {
  margin-bottom: 0;
}

.region-footer .block {
	margin-bottom: 0;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
	/*added by mrschlei 2/26/14*/
	font-size: 175%;
	color: #00274c;
	line-height: normal;
	margin-top: 0;
}

.block h3 {
	/*added by mrschlei 2/26/14*/
	margin-top: 0;
	font-size: 150%;
	color: #40658f;
	line-height: normal;		
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
	float:right;
	margin:-80px 10px 0 0;
	width:205px;
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
	background-color:#eeeeee;
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

.region-sidebar-second .section {
	margin-right:24px;
	margin-left:10px;
	margin:0 20px 0 0;
}

.region-sidebar-second .block {
	border:1px solid #cccccc;
	padding:10px;
}

.region-sidebar-second .block .block-title {
	/*color:#005596;
	font-size:14px;
	font-size:125%;*/
}

.region-sidebar-second ul {
/*	margin-top:5px;*/
	list-style-type:square;
	margin:.5em 0 0 10px;
	padding:0 0 0 10px;
}
.region-sidebar-second ul li {
	margin-bottom:.5em;
}
.region-sidebar-second ul li a {
	display:block;
}
.region-sidebar-second p {
/*	margin-top:5px;*/
	margin-top:0;
}

/*this is for the login block above the search results*/
#subpageloginblock {float:right;}

/*login reminder block fix*/
#block-block-12 p {margin-bottom:3px;}

#block-block-12 {background-color:#eee;margin-top:12px;}

#block-block-9 .block-title {display:none;}

#block-block-8 .block-title {display:none;}